@import "tailwindcss";

html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

/* Pasek godzinowy: ukryj scrollbar, zostaw scroll */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
